-
    //- Variables PUG/JS Locales - NIVEL 1
    const dir = '';

include ../includes/head

// Sección Slide Homepage (Slide 1)

<section class="slide fade-6 kenBurns" data-title="Slide #34 (34)" data-name="slide-34-5baf767a">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12">
                    <ul class="flex verticalCenter reverse">
                        <li class="col-6-12 left middle">
                            <div class="fix-5-12 toLeft margin-left-tablet-auto margin-right-tablet-auto">
                                <h1 class="ae-1 fromLeft smaller margin-bottom-2">Your App Website. Made Simple.</h1>
                                <p class="ae-2 fromLeft large margin-bottom-4"><span class="opacity-8">The sudden hunch, the creative leap of mind that “sees” in a flash how to solve a problem in a simple way, is something quite&nbsp;different.</span></p>
                                <a href="#" class="crop margin-bottom-tablet-1 margin-right-2 margin-right-tablet-1 button hollow ae-4 wideForPhone done"><img src="#{dir}assets/img/homepage/elements/appstore.jpg" alt="" height="63"></a><a href="#" class="crop button ae-4 hollow fromCenter wideForPhone done"><img src="#{dir}assets/img/homepage/elements/googleplay.jpg" alt="" height="63"></a>
                            </div>
                        </li>
                        <li class="col-6-12">
                            <img class="ae-4 margin-bottom-tablet-4" width="380" styles="margin:-28% 0" src="#{dir}assets/img/homepage/elements/iphone.png" alt="iPhones Thumbnail" data-action="zoom"/>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(#{dir}assets/img/homepage/backgrounds/background-1.jpg)"></div>
</section>

// Sección Slide GeneralFeatures (Slide 2)
<!-- Slide 47 (#47) -->
<section class="slide fade-9 whiteSlide animate active selected" data-title="Slide #47 (47)" data-name="slide-47-a96f3bdc">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-6-12 toCenter">
                    <p class="margin-bottom-1 uppercase bold font-size-14 text-gray ae-1 done smaller">Key specifics</p>
                    <h1 class="margin-bottom-2 ae-2 smaller bolder done">General Features</h1>
                    <p class="margin-bottom-5 large done"><span class="opacity-6">Let people discover your app, before they use it.<br/>Tell about your strong sides and why your app's the best.</span></p>
                </div>
                <div class="fix-11-12">
                    <ul class="flex flex-47 margin-top-3">
                        <li class="margin-bottom-5 col-4-12 col-tablet-1-2 col-phablet-1-1">
                            <div class="fix-3-12 done app-2-hover">
                                <i class="cropTop material-icons fromCenter">
                                <svg style="width:54px;height:60px;fill:lightgray">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fingerprint"></use>
                                </svg>
                                </i>
                                <h4 class="smallest margin-bottom-1">Protection</h4>
                                <p class="small opacity-6">Modern apps should provide good personal data protection.</p>
                            </div>
                        </li>
                        <li class="margin-bottom-5 col-4-12 col-tablet-1-2 col-phablet-1-1">
                            <div class="fix-3-12 done">
                                <i class="cropTop material-icons fromCenter">
                                    <svg style="width:54px;height:60px;fill:lightgray">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#file_manager"></use>
                                    </svg>
                                </i>
                                <h4 class="smallest margin-bottom-1">File Manager</h4>
                                <p class="small opacity-8">Move your files between folders across your project.</p>
                            </div>
                        </li>
                        <li class="margin-bottom-5 col-4-12 col-tablet-1-2 col-phablet-1-1">
                            <div class="fix-3-12 done">
                                <i class="cropTop material-icons fromCenter">
                                    <svg style="width:54px;height:60px;fill:lightgray">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#notifications"></use>
                                    </svg>
                                </i>
                                <h4 class="smallest margin-bottom-1">Notifications</h4>
                                <p class="small opacity-8">Don't miss important messages with Notifications</p>
                            </div>
                        </li>
                        <li class="margin-bottom-5 col-4-12 col-tablet-1-2 col-phablet-1-1">
                            <div class="fix-3-12 done">
                                <i class="cropTop material-icons fromCenter">
                                    <svg style="width:54px;height:60px;fill:lightgray">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video_calls"></use>
                                    </svg>
                                </i>
                                <h4 class="smallest margin-bottom-1">Video Calls</h4>
                                <p class="small opacity-8">Your app supports video calls directly from threads</p>
                            </div>
                        </li>
                        <li class="margin-bottom-5 col-4-12 col-tablet-1-2 col-phablet-1-1">
                            <div class="fix-3-12 done">
                                <i class="cropTop material-icons fromCenter">
                                    <svg style="width:54px;height:60px;fill:lightgray">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user_experience"></use>
                                    </svg>
                                </i>
                                <h4 class="smallest margin-bottom-1">User Experience</h4>
                                <p class="small opacity-8">Outstanding experience in usage. Also available in dark and light</p>
                            </div>
                        </li>
                        <li class="margin-bottom-5 col-4-12 col-tablet-1-2 col-phablet-1-1">
                            <div class="fix-3-12 done">
                                <i class="cropTop material-icons fromCenter">
                                    <svg style="width:54px;height:60px;fill:lightgray">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#geo_location"></use>
                                    </svg>
                                </i>
                                <h4 class="smallest margin-bottom-1">Geo Location</h4>
                                <p class="small opacity-8">Your kids are always under control. Available for free.</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>




// Sección More Photos (Slide-3)

<!-- Slide 35 (#35) -->
<section class="slide fade-6 kenBurns" data-title="Slide #35 (35)" data-name="slide-35-73023d3a">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-9-12 toCenter">

                    <p class="large margin-bottom-2 ae-2 uppercase"><span class="opacity-8">More photos</span></p>
                    <h1 class="margin-bottom-3 ae-3">It's your field to present product</h1>
                    <p class="larger light ae-4"><span class="opacity-8">Make a gallery here of your app's screenshots.<br/> Choose only catchy ones to interest potential users.</span></p>
                </div>
                <div class="fix-12-12 ae-5">
                    <img class="iphone-35 margin-top-2" src="#{dir}assets/img/homepage/elements/app-img-2.png" data-action="zoom" width="780" alt="iPhone App"/>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(#{dir}assets/img/homepage/backgrounds/background-2.jpg)"></div>
</section>

// Sección Apple Watch (Slide-4)

<section class="slide fade-6 whiteSlide kenBurns selected animate active" data-title="Slide #45 (45)" data-name="slide-45-875a9d36">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12 toCenter">
                    <p class="margin-bottom-1 uppercase bold font-size-14 text-gray ae-1 done smaller">New Update</p>
                    <h1 class="smaller margin-bottom-3 done bolder">Everything On Your Wrist</h1>
                    <p class="larger light done"><span class="opacity-8">If your app supports Apple Watch - tell the world about it too!<br/>Don't miss a chance to advertise your product in every case.</span></p>
                    <div class="fix-12-12 margin-top-5">
                        <ul class="flex flex-48 later equal">
                            <li class="col-4-12 fromCenter done">
                                <img class="margin-bottom-3 margin-top-5" src="#{dir}assets/img/homepage/elements/app-img-3-1.png" width="200" alt="Step 1">
                                <div class="fix-3-12">
                                    <h4 class="small margin-bottom-1 bold">Super Simple</h4>
                                    <p><span class="opacity-8">No extra buttons and<br/> hidden functionality.</span></p>
                                </div>
                            </li>
                            <li class="col-4-12 fromCenter done">
                                <img class="margin-bottom-3 margin-top-5" src="#{dir}assets/img/homepage/elements/app-img-3-2.png" width="200" alt="Step 2">
                                <div class="fix-3-12">
                                    <h4 class="small margin-bottom-1 bold">Incredibly Fast</h4>
                                    <p><span class="opacity-8">App supports latest WatchOS, working on new technologies.</span></p>
                                </div>
                            </li>
                            <li class="col-4-12 fromCenter done">
                                <img class="margin-bottom-3 margin-top-5" src="#{dir}assets/img/homepage/elements/app-img-3-3.png" width="200" alt="Step 3">
                                <div class="fix-3-12">
                                    <h4 class="small margin-bottom-1 bold">Simple Enough</h4>
                                    <p><span class="opacity-8">Intuitive and elegant interfaces developed to ease your life.</span></p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(../../../assets/img/background/img-45.jpg)"></div>
</section>


// Sección See App in Action (Slide-5)


<!-- Slide 82 (#82) -->
<section class="slide fade-6 kenBurns" data-title="Slide #82 (82)" data-name="slide-82-540f8f16">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-7-12 noSelect">
                    <div class="fix-5-12 margin-top-2">
                        <p class="margin-bottom-1 uppercase bold font-size-14 text-gray ae-1 done smaller">Save the clips</p>
                        <h1 class="big margin-bottom-2 ae-5 frontLeft boldest">See App in Action</h1>
                        <div class="ae-6 fromRight">
                            <p class="large margin-bottom-3 opacity-8">It's time show a video showcase of your app in action. <br/>You can choose different flows in this section.</p>
                        </div>
                    </div>
                    <div class="relative">
                        <div class="leftControl-82 ae-5 fromLeft" data-slider-id="82-82" data-slider-action="prev"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left"></use></svg></div>
                        <div class="rightControl-82 ae-5 fromRight" data-slider-id="82-82" data-slider-action="next"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></div>
                        <ul class="slider clickable animated margin-bottom-2 ae-1 fadeIn" data-slider-id="82-82">
                            <li class="selected"><img src="#{dir}assets/img/homepage/elements/app-img-4-1.png" class="wide" alt="iPhone Thumbnail"/></li>
                            <li><img src="#{dir}assets/img/homepage/elements/app-img-4-2.png" class="wide" alt="iPhone Thumbnail"/></li>
                            <li><img src="#{dir}assets/img/homepage/elements/app-img-4-3.png" class="wide" alt="iPhone Thumbnail"/></li>
                            <li><img src="#{dir}assets/img/homepage/elements/app-img-4-4.png" class="wide" alt="iPhone Thumbnail"/></li>
                        </ul>
                        <ul class="controller dots ae-3 fromBottom" data-slider-id="82-82">
                            <li class="dot selected"></li>
                            <li class="dot"></li>
                            <li class="dot"></li>
                            <li class="dot"></li>
                        </ul>
                    </div>
                    <div class="fix-6-12 margin-top-2">
                        <h3 class="smallest margin-bottom-2 ae-5 fromLeft">How to add records</h3>
                        <div class="ae-6 fromRight">
                            <p class="small margin-bottom-3 opacity-8">Simply tap on one of the fields to<br/>add it to our database.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(#{dir}assets/img/homepage/backgrounds/background-3.jpg)"></div>
</section>


<!-- Popup Video -->
<div class="popup autoplay" data-popup-id="82-82">
    <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-10-12">
                    <div class="embedVideo popupContent shadow rounded">
                        <iframe data-src="https://www.youtube.com/embed/g8yBqxTiHSs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


//- Script JavaScript Zone
script
    include ../scripts/console.js

include ../includes/footer

